- title 'Admin | Comments', true
= render layout: 'layouts/partials/admin_page', locals: {page_title: 'Comments'} do
  = will_paginate @comments, class: 'xw-pagination'
  .xw-admin-table-wrap
    = render partial: 'comments/partials/comments'
