- title 'Admin | Comments', true
= render layout: 'layouts/partials/topper_stopper', locals: {row_top_title: 'Comments'} do
  = will_paginate @comments, class: 'xw-pagination'
  = render partial: 'comments/partials/comments'