%td.cell{:'data-row' => cell.row, :'data-col' => cell.col, :'data-index' => cell.index, :'data-id' => edit ? cell.id : false, class: cell.is_void? ? 'void' : '', :'data-num' => edit ? false : cell.cell_num}
  .letter= edit ? cell.letter : (@solution.letters[index] if @solution)
  .cell_num= cell.cell_num unless edit
  .cell-flag
