= content_tag_for(:td, cell, :'data-row' => cell.row, :'data-col' => cell.col, :'data-index' => cell.index, :'data-id' => cell.id, class: cell.is_void? ? 'void' : '') do
  .letter
    = cell.letter
  .cell_num
  .cell-flag
