- title 'Log In'

= render layout: 'layouts/partials/topper_stopper', locals: {custom_columns: true, row_top_title: 'Sign In'} do
  .xw-col-full
    .xw-auth-layout
      .xw-auth-column
        %h2.center Log In
        = render partial: 'sessions/partials/form_large'
      .xw-auth-column
        %h2.center Sign up
        = render partial: 'users/partials/form'