- title 'Log In'

= render layout: 'layouts/partials/topper_stopper' do
  .columns.medium-4.medium-offset-1.small-12
    %h2.text-center Log In
    = render partial: 'sessions/partials/form_large'
  .small-4.columns.medium-offset-1.end.text-center
    = render partial: 'users/partials/form'