- title 'Log In'

= render layout: 'layouts/partials/topper_stopper', locals: {custom_columns: true} do
  .xw-col-12.xw-md-6
    %h2.text-center Log In
    = render partial: 'sessions/partials/form_large'

  .xw-col-12.xw-md-6
    = render partial: 'users/partials/form'