#controls-modal.reveal-modal{:'data-reveal' => true, style: 'width: 40%; margin-left: -20%;'}
  %a.close-reveal-modal ×
  %u
    %h1 Controls
  .row
    %ul.small-3.columns.small-offset-3
      %li Next word
      %li Next empty
      %li Change direction
      %li Cell navigation
    %ul.small-3.columns.end#keys
      %li
        %kbd Tab
      %li
        %kbd Enter
      %li
        %kbd &nbsp;&nbsp;Space&nbsp;&nbsp;
      %li
        %kbd &uarr;
        %kbd &darr;
        %kbd &larr;
        %kbd &rarr;