%dialog#controls-modal.xw-modal{data: {controller: 'modal', action: 'click->modal#clickOutside'}}
  %button.xw-modal__close{data: {action: 'click->modal#close'}, aria: {label: 'Close'}} ×
  %u
    %h1 Controls
  .xw-flex{style: 'justify-content: center; gap: 3rem;'}
    %ul
      %li Next word
      %li Next empty
      %li Change direction
      %li Cell navigation
    %ul#keys
      %li
        %kbd Tab
      %li
        %kbd Enter
      %li
        %kbd &nbsp;&nbsp;Space&nbsp;&nbsp;
      %li
        %kbd &uarr;
        %kbd &darr;
        %kbd &larr;
        %kbd &rarr;
