%dialog#controls-modal.xw-modal{data: {controller: 'modal', action: 'click->modal#clickOutside'}}
  %button.xw-modal__close{data: {action: 'click->modal#close'}, aria: {label: 'Close'}} ×
  %h2.controls-modal__heading Controls
  .controls-modal__columns
    %ul.controls-modal__actions
      %li Next word
      %li Next empty
      %li Change direction
      %li Cell navigation
    %ul.controls-modal__keys
      %li
        %kbd Tab
      %li
        %kbd Enter
      %li
        %kbd Space
      %li
        %kbd.controls-modal__arrow-key &uarr;
        %kbd.controls-modal__arrow-key &darr;
        %kbd.controls-modal__arrow-key &larr;
        %kbd.controls-modal__arrow-key &rarr;
