%dialog#controls-modal.xw-modal{data: {controller: 'modal', action: 'click->modal#clickOutside'}}
  %button.xw-modal__close{data: {action: 'click->modal#close'}, aria: {label: 'Close'}} &times;
  .xw-manual
    %table.xw-manual__table
      %tr
        %td
          Navigate
        %td
          .xw-manual__keys
            .xw-manual__arrow-keys
              .xw-manual__arrow-row
                %kbd.xw-manual__key &uarr;
              .xw-manual__arrow-row
                %kbd.xw-manual__key &larr;
                %kbd.xw-manual__key &darr;
                %kbd.xw-manual__key &rarr;
            .xw-manual__key-hints
              %kbd Tab
              next word
              %br
              %kbd Space
              switch direction
      %tr
        %td Rebus
        %td Type a hyphen (&ndash;) for multi-letter cells
      %tr
        %td Saving
        %td Auto-saves every 5s; toolbar icon for manual save
      - if @team
        %tr
          %td Team
          %td Colored squares = teammates; click a clue to highlight it for your team
    - unless @current_user
      %p.xw-manual__note Your progress won't be saved unless you sign up or log in.
