-# %table#crossword{:'data-id' => @crossword.id, :'data-rows' => @crossword.rows, :'data-cols' => @crossword.cols, :'data-auth-token' => form_authenticity_token}
%table#crossword{data: {id: @crossword.id, rows: @crossword.rows, cols: @crossword.cols, :'auth-token' => form_authenticity_token}}
  - for r in 1..@crossword.rows
    %tr{:'data-row' => r}
      - row_start = (r-1)*@crossword.cols
      - row_end = row_start + @crossword.cols-1
      - @cells[row_start..row_end].each do |cell|
        = render(partial: 'cells/partials/cell', locals: {cell: cell, edit: true})

-# Edit Clue Columns
- edit = true
-# Across Clues
= render(partial: 'clues/partials/clue_column', locals: {across: true, edit: edit})
-# Down Clues
= render(partial: 'clues/partials/clue_column', locals: {across: false, edit: edit})