%canvas{id: 'preview_canvas', width: 10*cols, height: 10*rows, style: 'border: 1px solid black'}
  %script
    var c = document.getElementById("preview_canvas");
    var ctx=c.getContext("2d");
    ctx.fillStyle="444444";
    - (1..rows).each do |row|
      ctx.fillStyle="000000";
      - (1..cols).each do |col|
        -if col != cols
          ctx.fillRect(#{col}*10,0,1,#{rows}*10);
      -if row != rows
        ctx.fillRect(0,#{row}*10,#{cols}*10,1);