-# needs cw passed in locals
=link_to cw do
  %li
    = cw.title
    -# Generate an SVG image of the crossword puzzle
    %svg
      %rect{fill: "white", height: 5*cw.rows+2, width: 5*cw.cols+2, stroke: "black", ':stroke-width'=> 1}
      - (1..cw.rows).each do |row|
        - (1..cw.cols).each do |col|
          -if cw.is_void_at?(row, col)
            %rect{fill:  "black", height: 5, width: 5, x: (col-1)*5+1, y: (row-1)*5+1}