= form_for @crossword do |f|
  %fieldset.borderless
    %row
      .large-8.columns
        =f.label :title
        =text_field_tag 'crossword[title]', nil, placeholder: 'Untitled', required: true
      .large-2.columns
        =f.label :rows
        =f.number_field :rows, min: 4, max: 30
      .large-2.columns
        =f.label :cols
        =f.number_field :cols, min: 4, max: 30
    %row
      .large-12.columns
        =f.label :description
        =f.text_area :description
        =f.submit nil, class: 'button success'