= content_tag_for(:li, word, length: word.content.length, class: ('added-word' if (defined? @added and @added))) do
  .row{style: 'margin: 0 auto;'}
    .length.small-1.columns (#{word.content.length})
    .small-10.columns= word.content
    .small-1.columns
      = link_to remove_potential_word_crossword_path(@crossword, word), method: :delete, remote: true do
        %i.fi-x