%table#crossword{:'data-id' => @crossword.id, :'data-rows' => @crossword.rows, :'data-cols' => @crossword.cols, :'data-auth-token' => form_authenticity_token}
  - for r in 1..@crossword.rows
    %tr{:'data-row' => r}
      - for c in 1..@crossword.cols
        - index = (r -1)*@crossword.cols + c - 1
        - letter = @crossword.letters[index]
        - unless letter == '_'
          %td.cell{:'data-row' => r, :'data-col' => c}
            .letter= @solution.letters[index] if @solution
            - cell = @crossword.cells.find_by_index(index+1)
            - if cell.circled
              .circle
            .cell_num
            .cell-flag
        -else
          %td.cell.void{:'data-row' => r, :'data-col' => c}

/ Solve Clue Columns
- edit = false
/ Across Clues
= render(partial: 'clues/partials/clue_column', locals: {across: true, edit: edit})
/ Down Clues
= render(partial: 'clues/partials/clue_column', locals: {across: false, edit: edit})

#solve-controls
  %button.button.warning.small#show-incorrect
    %i.fi-alert
    Show Incorrect
  %button.button.success.small#check-correctness
    %i.fi-check
    Check Correctness