!!!
%html
  %head
    %meta{content: "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
  %body
    %div{style:'padding:14px; margin-bottom:4px; background-color:#000000; -moz-border-radius:5px;-webkit-border-radius:5px;border-radius:5px;'}
      %a{style: 'color: #FFF', href: root_url}
        %img{alt: 'Crossword Caf&eacute;', src: root_url[0...-1] + image_path('white_pen.png'), style: 'display: block; border: 0;', height: '12px'}
    %h4 Forgot your password, #{@user.display_first_name}?
    %p Crossword Caf&eacute; received a request to reset the password for your account (#{@user.username}).
    %p To reset your password, click on the link below (or copy and paste the URL into your browser):
    %a{href: root_url} root_path