%h4 Forgot your password, #{@user.display_first_name}?
%p Crossword Caf&eacute; received a request to reset the password for your account (#{@user.username}).
%p To reset your password, click on the link below (or copy and paste the URL into your browser):
%a{href: root_url[0...-1] + reset_password_users_path(@user.password_reset_token)}= root_url[0...-1] + reset_password_users_path(@user.password_reset_token)