%h4 Forgot your password, #{@user.display_first_name}?
%p Crossword Caf&eacute; received a request to reset the password for your account (#{@user.username}).
%p To reset your password, click on the link below (or copy and paste the URL into your browser):
- reset_url = reset_password_users_url(@user.password_reset_token)
%a{href: reset_url}= reset_url
%br
%p If you did not make this request, please ignore this email.
%p If you have any further problems signing in, let us know at #{mail_to 'info@crossword-cafe.com', 'info@crossword-cafe.com'}.

%p Best,
%p Crossword Caf&eacute;