%li.clue{:'data-cell-num' => cell.cell_num, class: across ? 'across-clue' : 'down-clue'}
  = "#{cell.cell_num}. "
  - directional_clue = across ? cell.across_clue : cell.down_clue
  = directional_clue.content.gsub(%r{ (\*) (\S|\S.*?\S) \1 }x, %{<em>\\2</em>}).html_safe if directional_clue.content