- title 'Admin | Words', true
= render layout: 'layouts/partials/admin_page', locals: {page_title: 'Words'} do
  = will_paginate @words, class: 'xw-pagination'
  .xw-admin-table-wrap
    = render partial: 'words/partials/words'
