- title 'Admin | Words', true
= render layout: 'layouts/partials/topper_stopper', locals: {row_top_title: 'Words'} do
  = will_paginate @words, class: 'xw-pagination'
  = render partial: 'words/partials/words'