@charset "UTF-8";
/* line 2, /Users/dylanoshea/Documents/sites/rails/xword/app/assets/stylesheets/account.scss.erb */
dd.active {
  border-bottom: 1px solid #efefef;
  border-left: 1px solid #efefef;
  border-right: 1px solid #efefef;
}
/* line 8, /Users/dylanoshea/Documents/sites/rails/xword/app/assets/stylesheets/account.scss.erb */
dd:not(.active) a::before {
  content: "» ";
}

/* line 13, /Users/dylanoshea/Documents/sites/rails/xword/app/assets/stylesheets/account.scss.erb */
.content {
  min-width: 100%;
}

/* line 17, /Users/dylanoshea/Documents/sites/rails/xword/app/assets/stylesheets/account.scss.erb */
.slide-close {
  font-size: 1.375rem;
  padding: 9px 6px 4px;
  line-height: 0;
  position: absolute;
  top: 0.4375rem;
  margin-top: 0.3125rem;
  right: 0.3125rem;
  color: #333;
  opacity: 0.3;
}
/* line 27, /Users/dylanoshea/Documents/sites/rails/xword/app/assets/stylesheets/account.scss.erb */
.slide-close:hover, .slide-close:focus {
  opacity: 0.5;
}

/* line 31, /Users/dylanoshea/Documents/sites/rails/xword/app/assets/stylesheets/account.scss.erb */
.alert-box {
  min-height: 0;
}
/* line 33, /Users/dylanoshea/Documents/sites/rails/xword/app/assets/stylesheets/account.scss.erb */
.alert-box p, .alert-box ul {
  margin-bottom: 0;
}
