/* line 1, /Users/dylanoshea/Documents/sites/rails/xword/app/assets/stylesheets/forgot_password.scss */
#email-sent {
  position: absolute;
  text-align: center;
  width: 100%;
  margin: auto;
  top: 50%;
  line-height: 0;
}
