/* line 1, app/assets/stylesheets/foundation_overrides.scss */
.tooltip {
  font-size: 12px;
  padding: 0.4em 0.5em;
}

/* line 5, app/assets/stylesheets/foundation_overrides.scss */
.reveal-modal {
  position: fixed;
}

/* line 8, app/assets/stylesheets/foundation_overrides.scss */
.has-tip {
  cursor: inherit;
}

/* line 12, app/assets/stylesheets/foundation_overrides.scss */
.clue-column ol {
  margin-left: 0;
  margin-bottom: 0.15em;
}

/* line 17, app/assets/stylesheets/foundation_overrides.scss */
.top-bar {
  background: inherit;
}

/* line 21, app/assets/stylesheets/foundation_overrides.scss */
.top-bar-section ul {
  background: inherit;
}

/* line 24, app/assets/stylesheets/foundation_overrides.scss */
.top-bar-section .has-form {
  background: inherit;
}

/* line 27, app/assets/stylesheets/foundation_overrides.scss */
.top-bar-section ul a {
  background: inherit !important;
}

/* line 30, app/assets/stylesheets/foundation_overrides.scss */
.reveal-modal {
  z-index: 99999;
}

/* line 34, app/assets/stylesheets/foundation_overrides.scss */
input#query {
  height: inherit;
}

/* line 38, app/assets/stylesheets/foundation_overrides.scss */
.alert-box.warning {
  background-color: #f08a24;
  border-color: #de770f;
  color: #fff;
}

/* line 43, app/assets/stylesheets/foundation_overrides.scss */
.alert-box {
  margin-bottom: 0 !important;
}

/* line 49, app/assets/stylesheets/foundation_overrides.scss */
.tabs {
  *zoom: 1;
  margin-bottom: 0 !important;
}

/* line 52, app/assets/stylesheets/foundation_overrides.scss */
.tabs:before, .tabs:after {
  content: " ";
  display: table;
}

/* line 55, app/assets/stylesheets/foundation_overrides.scss */
.tabs:after {
  clear: both;
}

/* line 57, app/assets/stylesheets/foundation_overrides.scss */
.tabs dd {
  position: relative;
  margin-bottom: 0 !important;
  top: 1px;
  float: left;
}

/* line 62, app/assets/stylesheets/foundation_overrides.scss */
.tabs dd > a {
  display: block;
  background: #efefef;
  color: #222222;
  padding-top: 0.88889rem;
  padding-right: 1.77778rem;
  padding-bottom: 0.94444rem;
  padding-left: 1.77778rem;
  font-family: "Open Sans", "Helvetica Neue", "Helvetica", Helvetica, Arial, sans-serif !important;
  font-size: 0.88889rem;
}

/* line 72, app/assets/stylesheets/foundation_overrides.scss */
.tabs dd > a:hover {
  background: #e2e2e2;
}

/* line 74, app/assets/stylesheets/foundation_overrides.scss */
.tabs dd.active a {
  background: white;
}

/* line 76, app/assets/stylesheets/foundation_overrides.scss */
.tabs.radius dd:first-child a {
  -moz-border-radius-bottomleft: 3px;
  -moz-border-radius-topleft: 3px;
  -webkit-border-bottom-left-radius: 3px;
  -webkit-border-top-left-radius: 3px;
  border-bottom-left-radius: 3px;
  border-top-left-radius: 3px;
}

/* line 83, app/assets/stylesheets/foundation_overrides.scss */
.tabs.radius dd:last-child a {
  -moz-border-radius-topright: 3px;
  -moz-border-radius-bottomright: 3px;
  -webkit-border-top-right-radius: 3px;
  -webkit-border-bottom-right-radius: 3px;
  border-top-right-radius: 3px;
  border-bottom-right-radius: 3px;
}

/* line 90, app/assets/stylesheets/foundation_overrides.scss */
.tabs.vertical dd {
  position: inherit;
  float: none;
  display: block;
  top: auto;
}

/* line 96, app/assets/stylesheets/foundation_overrides.scss */
.tabs-content {
  *zoom: 1;
  margin-bottom: 1.33333rem;
}

/* line 99, app/assets/stylesheets/foundation_overrides.scss */
.tabs-content:before, .tabs-content:after {
  content: " ";
  display: table;
}

/* line 102, app/assets/stylesheets/foundation_overrides.scss */
.tabs-content:after {
  clear: both;
}

/* line 104, app/assets/stylesheets/foundation_overrides.scss */
.tabs-content > .content {
  display: none;
  float: left;
  padding: 0.83333rem 0;
}

/* line 108, app/assets/stylesheets/foundation_overrides.scss */
.tabs-content > .content.active {
  display: block;
}

/* line 110, app/assets/stylesheets/foundation_overrides.scss */
.tabs-content > .content.contained {
  padding: 0.83333rem;
}

/* line 112, app/assets/stylesheets/foundation_overrides.scss */
.tabs-content.vertical {
  display: block;
}

/* line 114, app/assets/stylesheets/foundation_overrides.scss */
.tabs-content.vertical > .content {
  padding: 0 0.83333rem;
}

@media only screen and (min-width: 40.063em) {
  /* line 118, app/assets/stylesheets/foundation_overrides.scss */
  .tabs.vertical {
    width: 20%;
    float: left;
    margin-bottom: 1.25rem;
  }
  /* line 122, app/assets/stylesheets/foundation_overrides.scss */
  .tabs-content.vertical {
    width: 80%;
    float: left;
    margin-left: -1px;
  }
}

/* line 129, app/assets/stylesheets/foundation_overrides.scss */
.puzzle-tabs .tabs a {
  padding: 0.5em 1.5em 0.3em;
}

/* line 133, app/assets/stylesheets/foundation_overrides.scss */
.puzzle-tabs .content {
  width: 100%;
}

/* line 136, app/assets/stylesheets/foundation_overrides.scss */
.puzzle-tabs ul {
  overflow: auto;
}
