/* line 1, app/assets/stylesheets/new_crossword.scss */
.row {
  position: relative;
}

/* line 4, app/assets/stylesheets/new_crossword.scss */
h2 {
  width: 100%;
  text-align: center;
  position: absolute;
  top: 1em;
}

/* line 10, app/assets/stylesheets/new_crossword.scss */
h6 {
  width: 100%;
  text-align: center;
  position: absolute;
  bottom: 2em;
}

/* line 17, app/assets/stylesheets/new_crossword.scss */
#preview-crossword .preview-row {
  background: white;
  width: 300px;
  height: 9px;
}

/* line 22, app/assets/stylesheets/new_crossword.scss */
#preview-crossword .preview-cell {
  margin: 1px -2px -2px 1px;
  float: left;
  width: 10px;
  height: 10px;
  border: 1px solid black;
  cursor: pointer;
}

/* line 29, app/assets/stylesheets/new_crossword.scss */
#preview-crossword .preview-cell.void {
  background: black;
}
