/* line 1, app/assets/stylesheets/pagination.scss */
.pagination {
  background: #f1f1f1;
  border: 1px solid #e5e5e5;
  text-align: center;
  padding: 1em;
  cursor: default;
}

/* line 7, app/assets/stylesheets/pagination.scss */
.pagination a, .pagination span {
  padding: 0.2em 0.3em;
}

/* line 10, app/assets/stylesheets/pagination.scss */
.pagination .disabled {
  color: #aaaaaa;
}

/* line 13, app/assets/stylesheets/pagination.scss */
.pagination .current {
  font-style: normal;
  font-weight: bold;
  background-color: #bebebe;
  display: inline-block;
  width: 1.4em;
  height: 1.4em;
  line-height: 1.5;
  -moz-border-radius: 1em;
  -webkit-border-radius: 1em;
  border-radius: 1em;
  text-shadow: rgba(255, 255, 255, 0.8) 1px 1px 1px;
}

/* line 26, app/assets/stylesheets/pagination.scss */
.pagination a {
  text-decoration: none;
  color: black;
}

/* line 29, app/assets/stylesheets/pagination.scss */
.pagination a:hover, .pagination a:focus {
  text-decoration: underline;
}
