/* line 1, app/assets/stylesheets/profile.scss.erb */
#profile-name, #profile-join {
  font-size: smaller;
}

/* line 4, app/assets/stylesheets/profile.scss.erb */
#profile-stats {
  margin: 1em 0;
}

/* line 7, app/assets/stylesheets/profile.scss.erb */
#profile-stats hr {
  margin: 0.25em 0;
}

/* line 11, app/assets/stylesheets/profile.scss.erb */
#recent-comments {
  min-height: 22em;
  background-color: whitesmoke;
  border-radius: 0.5em;
}
