/* line 3, app/assets/stylesheets/welcome.scss.erb */
html {
  background-color: gray;
  background: url(/assets/welcome/couch_cafe-de8872f05b78f5759dc4a78caf35b6bd56c6140aa5d646b68f15a05993023951.jpg) no-repeat center center gray;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  height: 100%;
}

/* line 12, app/assets/stylesheets/welcome.scss.erb */
body {
  height: 100%;
}

/* line 16, app/assets/stylesheets/welcome.scss.erb */
#body {
  margin: 0;
  padding: 0;
  height: 100%;
}

/* line 21, app/assets/stylesheets/welcome.scss.erb */
footer#footer {
  margin: 0;
}

/* line 24, app/assets/stylesheets/welcome.scss.erb */
#chalkboard {
  background: url(/assets/welcome/chalkboard_black-74b02d7ed4b9fc3ccb23e3a2d335bed08b0fa3cf6b3d1bf4ee6c5e4cca13303d.png) no-repeat;
  margin: 5em auto;
  width: 23.3em;
  height: 29.5em;
  -webkit-box-shadow: 0.5em 0.625em 1.8em #000;
  -moz-box-shadow: 0.5em 0.625em 1.8em #000;
  box-shadow: 0.5em 0.625em 1.8em #000;
  color: lightgrey;
  text-align: center;
  position: relative;
  overflow: hidden;
}

/* line 37, app/assets/stylesheets/welcome.scss.erb */
.slider {
  position: relative;
  height: 100%;
}

/* line 41, app/assets/stylesheets/welcome.scss.erb */
#login-container {
  width: 23.3em;
  height: inherit;
  position: relative;
  top: -29.3em;
  left: 23.3em;
  padding-top: 3em;
}

/* line 49, app/assets/stylesheets/welcome.scss.erb */
#login-container form #remember-box {
  margin: 0.5em 0 1em;
}

/* line 51, app/assets/stylesheets/welcome.scss.erb */
#login-container form #remember-box label {
  cursor: default;
  display: inline-block;
  color: #ADB1B1;
  font-size: inherit;
  font-family: inherit;
  vertical-align: middle;
}

/* line 59, app/assets/stylesheets/welcome.scss.erb */
#login-container form #remember-box #remember_me {
  font-size: 16px;
  cursor: pointer;
}

/* line 66, app/assets/stylesheets/welcome.scss.erb */
#signup-container {
  width: 23.3em;
  height: inherit;
  padding-top: 3em;
}

/* line 71, app/assets/stylesheets/welcome.scss.erb */
#signup-container #welcome-board {
  margin: 0em auto 1em auto;
  display: block;
  background: url(/assets/welcome/welcome_board-d0cbbb4412f37aa05936ebb8c50b5f4fb28d12c11a6f88dcae372d61479019d5.png) no-repeat;
  height: 4em;
  width: 11.6em;
}

/* line 79, app/assets/stylesheets/welcome.scss.erb */
input.chalkboard-input {
  border: none;
  border-bottom: 1px #a5a5a5 dotted;
  color: white;
  width: 65%;
  margin: 0;
  -webkit-box-shadow: none;
  box-shadow: none;
  display: inline-block;
}

/* line 88, app/assets/stylesheets/welcome.scss.erb */
input.chalkboard-input:focus {
  color: inherit;
  background-color: inherit;
  border-bottom: 1px #f5f5f5 dotted;
}

/* line 94, app/assets/stylesheets/welcome.scss.erb */
input.subtle-input {
  background: none;
  text-align: center;
  font-size: inherit;
}

/* line 99, app/assets/stylesheets/welcome.scss.erb */
.chalkboard-button {
  margin: 1em auto 0em;
  padding: 0.6em 0;
  color: #f5f5f5 !important;
  border: 1px outset;
  display: block;
  text-align: center;
  width: 10em;
  background: rgba(255, 255, 255, 0.2);
  font-size: inherit;
  width: 10em;
  cursor: pointer;
  position: relative;
}

/* line 113, app/assets/stylesheets/welcome.scss.erb */
.chalkboard-button:hover {
  background: #4f4f4f;
}

/* line 117, app/assets/stylesheets/welcome.scss.erb */
.chalkboard-button i {
  vertical-align: middle;
  position: absolute;
}

/* line 120, app/assets/stylesheets/welcome.scss.erb */
.chalkboard-button i.fi-arrow-left {
  left: 1em;
}

/* line 123, app/assets/stylesheets/welcome.scss.erb */
.chalkboard-button i.fi-arrow-right {
  right: 1em;
}
