- if collection.any?
  %ul{id: (defined?(list_id) ? list_id : nil)}
    - collection.each do |cw|
      %li
        = render partial: 'crosswords/partials/crossword_tab', locals: {cw: cw}
  - if count > Crossword.per_page
    %p.center.smaller Showing #{Crossword.per_page} of #{count} puzzles.
- else
  %p= empty_message
