- if @current_user
  = render partial: 'pages/home/crossword_list', locals: { collection: @in_progress, count: @in_progress_count, list_id: 'in-progress-list', scope: 'in_progress', empty_message: "You're not working on any puzzles right now! Why not #{link_to 'start a new one?', '#panel1'}" }
- else
  %p Make an account or log in and you'll be able to track which crosswords you're working on!
