- if @current_user
  - if @in_progress.any?
    %ul
      - @in_progress.each do |cw|
        %li
          = render partial: 'crosswords/partials/crossword_tab', locals: {cw: cw}
    - if @in_progress_count > Crossword.per_page
      %p.center.smaller Showing #{Crossword.per_page} of #{@in_progress_count} puzzles.
  - else
    %p You're not working on any puzzles right now! Why not #{link_to 'start a new one?', '#panel2'}
- else
  %p Make an account or log in and you'll be able to track which crosswords you're working on!
