- if @nonstandard.any?
  - nonstandard_initial = @nonstandard[0...Crossword.per_page] || []
  %ul
    - nonstandard_initial.each do |crossword|
      = render partial: 'crosswords/partials/crossword_tab', locals: {crossword: crossword}
  - nonstandard_remaining = @nonstandard[Crossword.per_page..-1]
  - if nonstandard_remaining && nonstandard_remaining.any?
    .row.center
      = render partial: 'pages/home/load_next_button', locals: {remaining: nonstandard_remaining}