- if @current_user
  - if @solved.any?
    %ul
      - @solved.each do |cw|
        %li
          = render partial: 'crosswords/partials/crossword_tab', locals: {cw: cw}
    - if @solved_count > Crossword.per_page
      %p.center.smaller Showing #{Crossword.per_page} of #{@solved_count} puzzles.
  - else
    %p You haven't finished any puzzles yet -- go check out the New tab and try one!
- else
  %p Make an account or log in and you'll be able to track which crosswords you've finished!
