= render partial: 'pages/home/crossword_list', locals: { collection: @unstarted, count: @unstarted_count, list_id: 'unstarted-list', scope: 'unstarted', empty_message: "You're already working on all of the puzzles we've got!" }
