<%# Replaces: users/password_errors.js.erb (jquery_ujs + jQuery slideDown with error partial content) %>
<%# Turbo Stream: replaces the password error display area with current validation errors %>
<%# IMPORTANT: The replacement content must preserve id="password-errors" so subsequent %>
<%# turbo_stream.replace calls can still find the target element. %>
<%= turbo_stream.replace "password-errors" do %>
  <div id="password-errors" class="xw-alert xw-alert--error">
    <%= render partial: 'users/partials/errors' %>
    <a class="slide-close" href="#">&times;</a>
  </div>
<% end %>
