<%# Replaces: send_password_reset.js (jquery_ujs + jQuery fade + show #email-sent) %>
<%# Turbo Stream: replaces the email-sent confirmation area to show success message %>
<%= turbo_stream.replace "email-sent" do %>
  <h5>You should receive an email shortly with a link to reset your password.</h5>
<% end %>
