<%= turbo_stream.replace "password-reset-form" do %>
  <div id="password-reset-form">
    <h2>Check your email</h2>
    <p>If an account was found, you should receive an email shortly with a link to reset your password.</p>
  </div>
<% end %>
