- title "Profile | #{@user.display_name}", true
= render layout: 'layouts/partials/topper_stopper', locals: {row_top_title: "#{@user.username}'s Public Profile", custom_columns: true} do
  = render partial: 'users/partials/user'