<%# Replaces: users/wrong_password.js.erb (jquery_ujs + jQuery text('...') + slideDown on #password-errors) %>
<%# Turbo Stream: replaces the password error area with the "old password incorrect" message %>
<%= turbo_stream.replace "password-errors" do %>
  <p>Your old password is incorrect. Please try again.</p>
<% end %>
