- title 'Contact'
= render layout: 'layouts/partials/topper_stopper', locals: {row_top_title: 'Contact'} do
  %p
    Questions, bug reports, puzzle suggestions, or just want to say hi? I'd love to hear from you.
  %p
    Email:
    = mail_to 'dylan@crossword-cafe.org', 'dylan@crossword-cafe.org'