= render layout: 'layouts/partials/topper_stopper', locals: {custom_columns: true} do
  .xw-col-12.xw-md-center-4
    = image_tag 'error.png', class: 'center', style: 'display: block; margin: 0 auto; width: 75%;'
  .xw-col-full
    %h3.center
      - if flash[:error]
        = flash[:error]
        %br
