= render layout: 'layouts/partials/topper_stopper', locals: {custom_columns: true} do
  .xw-col-12.xw-md-center-4
    = image_tag 'error.png', class: 'xw-error-image'
  .xw-col-full
    %h1.center
      - if flash[:error]
        = flash[:error]
