.row.row-topper
  %h4
    Search Results
.row
  .large-12.columns
    - if @users.any?
      = render partial: 'user_search'
    - if @crosswords.any?
      = render partial: 'crossword_search'
    - if @words.any?
      = render partial: 'word_search'