.row.row-topper
  %h4
    Search Results
.row#search-results
  .large-12.columns
    - if @crosswords.any?
      = render partial: 'crossword_search'
      %hr
    - if @users.any?
      = render partial: 'user_search'
      %hr
    - if @words.any?
      = render partial: 'word_search'
      %hr