- title 'Stats'
= content_for :head do
  = stylesheet_link_tag 'site_stats'
  = javascript_include_tag 'chart.umd.min'
= render layout: 'layouts/partials/topper_stopper', locals: {row_top_title: 'Site Stats'} do
  .xw-stats{data: {controller: 'stats'}}
    %h2 Total Users by Date
    %canvas{data: {'stats-target': 'canvas',
                    labels: @days_operational.map { |d| ([1,15].include?(d.day) || d == @days_operational.first || d == @days_operational.last) ? d.to_s : '' }.to_json,
                    values: @running_signup_counts.to_json,
                    'chart-label': 'Total Users'}}

    %hr.xw-hr--accent

    %h2 Daily User Signups
    %canvas{data: {'stats-target': 'canvas',
                    labels: @days_operational.map { |d| ([1,15].include?(d.day) || d == @days_operational.first || d == @days_operational.last) ? d.to_s : '' }.to_json,
                    values: @signup_counts.to_json,
                    'chart-label': 'Signups'}}
