= render layout: 'layouts/partials/topper_stopper' do
  .xw-prose
    %h1.center Nope.
    %p Sorry, you're not authorized on that page. Get 'em next time, tiger!
    %p
      = link_to 'Back to puzzles', root_path, class: 'xw-btn'
