= render layout: 'layouts/partials/topper_stopper', locals: {columns_class: 'puzzle-tabs', row_top_title: 'User-Made Puzzles'} do
  %ul
    - @user_puzzles.each do |crossword|
      %li
        = render partial: 'crosswords/partials/crossword_tab', locals: {cw: crossword}
