%h6= "#{pluralize(@crosswords.count, 'crossword')} found"
- @crosswords_sliced.each do |slice|
  .row
    - slice.each do |crossword|
      = render partial: 'crosswords/partials/crossword_tab', locals: {crossword: crossword}