development:
  adapter: postgresql
  encoding: unicode
  host: localhost
  pool: 5
  username: dylanoshea
  password:
  database: xword_development

test:
  adapter: postgresql
  encoding: unicode
  pool: 5
  url: <%= ENV['DATABASE_URL'] || 'postgres://dylanoshea@localhost/xword_test' %>

production:
  adapter: postgresql
  encoding: unicode
  pool: 5
  url: <%= ENV['DATABASE_URL'] %>
