$bottomcolor: black;

.side-button {
  background: black;
  color: whitesmoke;
  font-size: 1.5em;

  #settings-button {
    position: fixed;
    right: 0;
    top: 40%;
    -webkit-border-top-left-radius: 0.4em;
    -webkit-border-bottom-left-radius: 0.4em;
    -moz-border-radius-topleft: 0.4em;
    -moz-border-radius-bottomleft: 0.4em;
    border-top-left-radius: 0.4em;
    border-bottom-left-radius: 0.4em;
    padding: 0.3em 0.3em 0.2em 0.4em;
  }
}

.bottom-button {
  background: black;
  color: whitesmoke;
  font-size: 1.25em;
  position: absolute;
  top: -1.5em;
  width: 4.2em;
  z-index: 1;
  border-top: 1px solid #444;
}
#ideas-button {
  -webkit-border-top-right-radius: 0.5em;
  -moz-border-radius-topright: 0.5em;
  border-top-right-radius: 0.5em;
  padding: 0.3em 0.4em 0.2em 0.3em;
  border-right: 1px solid #444;
}
#pattern-search-button {
  width: 9em;
  left: 5.8em;
  -webkit-border-top-left-radius: 0.5em;
  -moz-border-radius-topleft: 0.5em;
  border-top-left-radius: 0.5em;
  padding: 0.3em 0.3em 0.2em 0.4em;
  border-left: 1px solid #444;
}

.slide-up-container {
  z-index: 70001;
  position: fixed;
  -webkit-transition: top 0.4s;
  -moz-transition: top 0.4s;
  -o-transition: top 0.4s;
  transition: top 0.4s;
  top: 100%;
  bottom: 0;
  height: 90%;

  &#idea-container {
    left: 0;
  }

  &#pattern-container {
    right: 0;
    width: 18.5em;
  }
  &.open{
    top: 95px;
  }
}

#settings {
    color: whitesmoke;
    border-radius: 1px whitesmoke;
    background: $bottomcolor;
  }

#pattern-search {
  position: absolute;
  background: $bottomcolor;
  max-height: 80%;
  min-height: 20em;
  width: 18.5em;
  padding: 1em;
  border-left: 1px solid #444;
  border-bottom: 1px solid #444;
  border-top: 1px solid #444;

}

#word-match-results {
  background: white;
  overflow-y: scroll;
  max-height: 25em;

  #match-header {
    text-align: center;
  }

  li {
    display: inline-block;
    font-size: small;

    &:hover {
      color: blue;
    }
  }
}

#pattern-search input, #ideas input {
  text-transform: uppercase;
  height: 2em;

  &::-webkit-input-placeholder {
    text-transform: none;
  }
  &:-moz-placeholder { /* Firefox 18- */
     text-transform: none;
  }
  &::-moz-placeholder {  /* Firefox 19+ */
     text-transform: none;
  }
  &:-ms-input-placeholder {  
     text-transform: none;
  }
}

#ideas {
  position: absolute;
  text-transform: uppercase;
  background: $bottomcolor;
  max-height: 80%;
  min-height: 20em;
  width: 18.5em;
  padding: 1em;
  border-right: 1px solid #444;
  border-bottom: 1px solid #444;
  border-top: 1px solid #444;

  ul {
    background: white;
    overflow-y: scroll;
    margin: 0;
    width: 16.5em;
    max-height: 25em;
    -webkit-transition: max-height 0.4s;
    -moz-transition: max-height 0.4s;
    -o-transition: max-height 0.4s;
    transition: max-height 0.4s;

    .columns {
      padding: 0;
    }

    li {
      font-size: smaller;
      list-style-type: none;
      width: 100%;
      -webkit-transition: background 0.4s;
      -moz-transition: background 0.4s;
      -o-transition: background 0.4s;
      transition: background 0.4s;

      &:nth-child(even) {
        background: #eee;
      }

      &.added-word {
        background: lightgreen;
        display: none;
      }

      .length {
        opacity: 0.5;
        font-size: smaller;
        text-align: center;
      }
    }
  }
}


#tools {
  position: fixed;
  height: 300px;
  width: 96%;
  margin: 0 2%;
  bottom: 0;
  z-index: 10000;
  background: rgba(30,30,30, 0.3);
  -webkit-border-top-left-radius: 0.5em;
  -webkit-border-top-right-radius: 0.5em;
  -moz-border-radius-topleft: 0.5em;
  -moz-border-radius-topright: 0.5em;
  border-top-left-radius: 0.5em;
  border-top-right-radius: 0.5em;
  overflow: hidden;
  font-size: smaller;
}

.ui-draggable {
  cursor: -webkit-grab;
  &.ui-draggable-dragging {
    cursor: -webkit-grabbing;
  }
}

::-webkit-scrollbar {
    -webkit-appearance: none;
}

::-webkit-scrollbar-thumb {
    border-radius: 8px;
    border: 2px solid white; /* should match background, can't be transparent */
    background-color: rgba(0, 0, 0, .5);
}

@media (max-height: 700px){
  #ideas ul, #word-match-results {
    max-height: 15em;
  }
}