- title 'Admin | Crosswords', true
= render layout: 'layouts/partials/topper_stopper', locals: {row_top_title: 'Crosswords'} do
  = will_paginate @crosswords, class: 'xw-pagination'
  = render partial: 'crosswords/partials/crosswords'