- title 'Admin | Crosswords', true
= render layout: 'layouts/partials/admin_page', locals: {page_title: 'Crosswords'} do
  = will_paginate @crosswords, class: 'xw-pagination'
  .xw-admin-table-wrap
    = render partial: 'crosswords/partials/crosswords'
