.row.row-topper.row-bookend
  %h4
    New Puzzle
.row
  .large-7.columns
    = render partial: 'crosswords/partials/new_form'
  .large-5.columns
    %fieldset#preview
      %legend
        Preview
      .row
        .large-12.columns
          = render partial: 'crosswords/partials/mini_pic_canvas2', locals: {rows: @crossword.rows, cols: @crossword.cols}
.row.row-stopper.row-bookend