- title 'Admin | Users', true
= render layout: 'layouts/partials/admin_page', locals: {page_title: 'Users'} do
  = will_paginate @users, class: 'xw-pagination'
  .xw-admin-table-wrap
    = render partial: 'users/partials/users'
