%table
  %thead
    %tr
      %th ID
      %th Content
      %th Example clue
  %tbody
    - @words.each do |word|
      = content_tag_for(:tr, word) do
        %td= link_to word.id, word
        %td= link_to word.content, word
        %td= word.clues.first.content

