- title 'Admin | Clues', true
= render layout: 'layouts/partials/admin_page', locals: {page_title: 'Clues'} do
  = will_paginate @clues, class: 'xw-pagination'
  .xw-admin-table-wrap
    = render partial: 'clues/partials/clues'
