- title 'Admin | Clues', true
= render layout: 'layouts/partials/topper_stopper', locals: {row_top_title: 'Clues'} do
  = will_paginate @clues, class: 'xw-pagination'
  = render partial: 'clues/partials/clues'