- alert_boxes = {error: 'xw-alert--error', warning: 'xw-alert--warning', success: 'xw-alert--success', info: 'xw-alert--info', secondary: 'xw-alert--info'}
- alert_boxes.each do |alert_sym, alert_modifier|
  - if flash[alert_sym]
    .xw-alert{data: {controller: 'alert'}, class: alert_modifier}
      .center
        = flash[alert_sym]
      %button.xw-alert__dismiss{data: {action: 'click->alert#dismiss'}, aria: {label: 'Dismiss'}} &times;
- if flash[:form_error]
  .xw-alert.xw-alert--error.center{data: {controller: 'alert'}}
    %p.no-margin.larger.underline
      %u= flash[:form_error]
    - if flash[:form_errors] && flash[:form_errors].any?
      %ul.ib.no-margin.smaller
        - flash[:form_errors].each do |err|
          %li
            = err
    %button.xw-alert__dismiss{data: {action: 'click->alert#dismiss'}, aria: {label: 'Dismiss'}} &times;
