%li
  = link_to('Register', new_user_path)
%li.divider.hide-for-small
%li.active.has-dropdown#login_button
  = link_to 'Login', nil
  / %span.button{style:'display: block;'}
  .dropdown.dark-shadow
    = render partial: 'sessions/partials/form_small'