%li
  = link_to('Register', new_user_path)
%li.divider.hide-for-small
%li.active.has-dropdown#login-button
  =link_to 'Login', login_path
  .dropdown.dark-shadow
    = render partial: 'sessions/partials/form_small'