.row
  .large-12.columns
    .row
      .large-4.columns
        %ul
          %li= link_to 'About', about_path
          %li= link_to 'FAQ', about_path
          %li= link_to 'Contact', contact_path
      .large-4.columns
      .large-4.columns
        %ul
          %li#social_links
            %a{href: 'https://www.facebook.com/pages/Crossword-Caf%C3%A9/522004927841403'}
              %i.fi-social-facebook
            %a{href: 'https://github.com/doshea/xword'}
              %i.fi-social-github
  %h6.subheader &copy; Dylan O'Shea