.row
  .large-12.columns
    .row#stats
      .large-4.columns
        %ul
          %li
            = link_to about_path do
              %i.fi-torsos
              %span About Us
          %li
            = link_to faq_path do
              %i.fi-info
              %span FAQ
          %li
            = link_to contact_path do
              %i.fi-mail
              %span Contact
          %li
            = link_to stats_path do
              %i.fi-graph-bar
              %span Site Stats

      .large-4.columns
      .large-4.columns
        %ul
          %li#social-links
            %a{href: 'https://www.facebook.com/pages/Crossword-Caf%C3%A9/522004927841403', target: '_blank'}
              %i.fi-social-facebook
            %a{href: 'https://github.com/doshea/xword', target: '_blank'}
              %i.fi-social-github
  %h6.subheader &copy; Dylan O'Shea