-# Check out https://www.serpwoo.com/blog/experts/knowledge-graph-101/
-# https://developers.google.com/structured-data/testing-tool/
-# %script{type: 'application/ld+json'} {"@context": "http://schema.org",
-#     "@type": "Person",
-#     "email": "mailto:info@patrickcoombe.com",
-#     "image": "http://patrickcoombe.com/wp-content/uploads/2014/05/cropped-patrick-coombe.jpg",
-#     "jobTitle": "Internet Entrepreneur",
-#     "name": "Patrick Coombe",
-#     "alumniOf": "US Navy",
-#     "alumniOf": "McCann School of Business",
-#     "birthPlace": "Ashland, PA",
-#     "birthDate": "1979.10.12",
-#     "gender": "male",
-#     "nationality": "Caucasian",
-#     "url": "http://www.patrickcoombe.com",
-#     "sameAs" : [ "http://twitter.com/patrickcoombe",
-#     "https://www.linkedin.com/in/patrickcoombe",
-#     "http://www.freebase.com/m/0_h91nm",
-#     "http://instagram.com/patrickcoombe",
-#     "https://plus.google.com/+PatrickCoombe"]}
%script{type: 'application/ld+json'}
  {"@context": "http://schema.org",
  "@type": "WebSite",
  "image": "http://www.crossword-cafe.com/assets/main_icon.jpg",
  "name": "Crossword Café",
  "dateCreated": "2012.11.13",
  "creator": {"@type": "Person","name": "Dylan O'Shea","jobTitle": "Full-Stack Rails Developer", "birthDate": "1988-10-06", "gender": "male","alumniOf": "Pomona College","birthPlace": "New York, NY", "url": "https://github.com/doshea", "sameAs": [ "https://www.linkedin.com/in/dylanoshea"]},
  "description": "Crossword Café is an online community for crossword constructors to create puzzles and share them with solvers around the world.",
  "url": "http://www.crossword-cafe.com",
  "sameAs": [ "https://www.facebook.com/CrosswordCafe",
  "https://github.com/doshea/xword",
  "https://www.linkedin.com/company/crossword-café"]}