<%# Turbo Stream: replaces the team chat form with a fresh blank copy, clearing the input %>
<%= turbo_stream.replace "team-chat-form" do %>
  <%= render partial: 'crosswords/partials/team_chat_form', locals: { solution: @solution } %>
<% end %>
<% if @broadcast_failed %>
  <%= turbo_stream.append "chats" do %>
    <div class="chat team-chat-error">Chat is temporarily unavailable.</div>
  <% end %>
<% end %>
