%li.divider.hide-for-small
%li
  = link_to('Register', new_user_path, :remote => true)
%li.divider.hide-for-small
%li.active
  = link_to('Login', login_path, :remote => true)
%li.divider.hide-for-small